ol {
    border: 0px solid var(--color-primary);
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-color: var(--color-primary);
    border-left-width: 1px;
  }

li  {
    border: 0px solid var(--color-primary);
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }

  .bullet {
    border: 0px solid var(--color-primary);
    box-sizing: border-box;
    position: absolute;
    margin-top: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 9999px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    background-color: var(--color-primary);
    left: -0.375rem;
  }
  
  .date {
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: rgb(95, 113, 143);
  }
  

  time {
    border: 0px solid rgb(229, 231, 235);
    box-sizing: border-box;
  }
  
  .location{
    border: 0px solid rgb(229, 231, 235);
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 0.3rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(156, 163, 175, 1);
  }
  
  